body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Spacing between apps */
    background-color: rgb(176, 176, 176);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1024px;
    height: 550px;
    text-align: center;
    }

/* Style for the gesture-box */
.gesture {
    cursor: default;
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 100px;
}

.gesture-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    top:10px;
    left: 100px;
    width: 100px;
    height: 100px;
}

.gesture-content img {
    width:100px;
    height: 100px;
    position: relative;
    top: -10px;
}

.command-content {
    position: relative;
    top: 70px;
    left: -20px;

}

input[type="bluetooth-status"],
select {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.arrow img {
height: 200px;
width: 200px;
position: relative;
top:-15px;
}

.container2 {
    background-color: rgb(176, 176, 176);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1024px;
    height: 50px;
}

/* Button styling */
button {
    display: block;
    
    padding:10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    bottom: 0px;
    left: 420px;
}

button:hover {
    background-color: #0056b3;
}
