        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .settings-container {
            background-color: rgb(176, 176, 176);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 1024px;
            height: 600px;
            text-align: center;
            margin-top: -100px;
        }

        /* Header styling */
        h1 {
            font-size: 28px;
            color: #333;
            margin-bottom: 20px;
        }
        
        /* Section styling */
        .section {
            margin-top: 20px;
        }

        .section-title {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            color: #333;
            text-align: left;
        }

        /* Linked devices styling */
        .linked-devices {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
            color: #333;
        }

        input[type="text"] {
            width: 70%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        /* Button styling */
button {
    display: block;
    
    padding:10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    bottom: -335px;
    left: 340px;
}

.button-link {
    display: block;
    padding:10px 20px;
    width: 115px;
    text-decoration: none;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    bottom: -297px;
    left: 520px;
}

        button:hover {
            background-color: #0056b3;
        }

        .button-link:hover {
            background-color: #0056b3;
        }